* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: 0;
}

header {
    background-color: beige;
    min-height: 80px;
}

main {
    background-color: rgb(245, 255, 240);
    min-height: 600px;
}

footer {
    background-color: aqua;
    min-height: 100px;
}

#logo {
    font-size: 150%;
    list-style-type: none;
    text-decoration: none;

}

#logo li {
    text-align: left;
    padding-top: 5px;
    padding-left: 40px;
}

#pages {
    font-size: 110%;
    letter-spacing: 2px;
}

#pages li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#pages a {
    text-decoration: none;
}

#media {
    font-size: 80%;
    letter-spacing: 2px;
    text-align: center;
}

#media li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 40px;
}

#media a {
    text-decoration: none;
}