* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: 0;
}

header {
    background-color: beige;
    min-height: 80px;
}

main {
    background-color: rgb(245, 255, 240);
    min-height: 600px;
}

footer {
    background-color: rgb(245, 240, 220);
    min-height: 50px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#logo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: red;
    font-size: 180%;
    list-style-type: none;
    text-decoration: none;

}

.active {
    border-bottom: 2px solid red;
}

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    font-family: Brush Script MT,
        Brush Script Std,
        cursive;
}

#logo li {
    text-align: left;
    padding-top: 5px;
    padding-left: 40px;
}

#pages {
    font-size: 110%;
    letter-spacing: 2px;
}

#pages li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    padding-bottom: 10px;
}

#pages a {
    text-decoration: none;
}


#media {
    font-size: 80%;
    letter-spacing: 12px;
    padding-left: 40%;
}

#media li {
    list-style-type: none;
    display: inline-block;
    width: 200;
    margin-left: 10px;
    padding-right: 30px;
    padding-bottom: 10px;

}

#media a {
    text-decoration: none;
}

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 5px;
}

#top h1 {
    padding-top: 50px;
    font-size: 50px;
}

#top img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#form-header h1 {
    font-size: 40px;
}

#info-body {
    padding-top: 30px;
    font-size: 30px;
    font-family: Brush Script MT,
        Brush Script Std,
        cursive;
}

#info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 55px;
    text-align: justify;
}

#info h4 {
    font-size: 30px;
    font-family: Brush Script MT,
        Brush Script Std,
        cursive;
}

#info img {
    width: 200px;
    height: 200px;
    border: 5px solid black;
}

#info-1 h4 {
    padding-left: 15px;
}

#info-1 p {
    width: 420px;
    padding-left: 15px;
    padding-right: 15px;
}

#info2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 55px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 20px;
    text-align: justify;
}

#info2 h4 {
    font-size: 30px;
    font-family: Brush Script MT,
        Brush Script Std,
        cursive;
}

#info2 img {
    width: 200px;
    height: 200px;
    border: 5px solid black;
}

#form-body {
    display: flex;
    justify-content: center;
}

#form {
    font-family: Brush Script MT,
        Brush Script Std,
        cursive;
    text-size-adjust: 60px;
    padding-left: 50px;
    padding-bottom: 50px;
    text-align: justify;
    font-size: 25px;
    width: 400;
    border: 600px;
}

#form name email {
    padding-right: 200px;
}

#form name surname email {
    width: 200px;
    height: 30px;
    border: 2px solid red;
}

#form textarea {
    width: 580px;
    height: 250px;
    border: 2px solid black;
}

#name #email #surname #message {
    font-size: medium;
}

.box {
    display: flex;
    justify-items: center;
    width: 450px;
    height: 40px;
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 120px;
}

#button {
    display: inline-block;
    text-align: center;
    vertical-align: center;
    width: 585px;
    height: 50px;
    border: 2px solid black;
    color: blue;
    font-weight: 400;
    font-size: 150;
}


#img {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    border-color: solid black;
    border-spacing: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-left: 30px;
}

#right h2 {
    text-align: right;
}

#right img {
    width: 200px;
    height: 200px;
}

#right aside {
    padding-left: 185px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 0px;
    text-align: justify;
}

#right aside h2 {
    font-family: Brush Script MT,
        Brush Script Std,
        cursive;
    font-size: 35px;
    padding-top: 10px;
}

#right aside p {
    padding-top: 20px;
}

#left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-right: 30px;
}

#left h2 {

    text-align: left;
}

#left img {
    width: 200px;
    height: 200px;
}

#left aside {
    padding-right: 185px;
    padding-left: 20px;
    padding-top: 15px;
    text-align: justify;
}

#left aside h2 {
    padding-top: 10px;
    font-family: Brush Script MT,
        Brush Script Std,
        cursive;
    font-size: 35px;
}

#left aside p {
    padding-top: 20px;
}

#first {
    padding-left: 150px;
    padding-bottom: 40px;
}

#first img {
    border: 5px solid black;
}

.mission {
    padding-left: 150px;
    padding-right: 180px;
    padding-bottom: 20px;
    padding-top: 50px;
}

.mission #left {
    padding-right: 30px;
}

.mission img {
    border-radius: 50%;
}

#space {
    padding-top: 20px;
}

#space h1 {
    font-size: 45px;
    padding-bottom: 20px;
}


#space #first img {
    width: 380px;
    height: 400px;
}

#space h2 {
    font-family: Brush Script MT,
        Brush Script Std,
        cursive;
    font-size: 40px;
    padding-top: 5px;
    padding-bottom: 50px;
}

#space h3 {
    padding-bottom: 5px;
}