* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

}

body {
    min-height: 1.5;
    flex-grow: 1;
}


main {
    background-color: rgb(245, 255, 240);
    min-height: 130vh;

}

.footer {
    position: absolute;
    background-color: rgb(245, 240, 220);
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer #footer-list {
    text-align: center;
}

.footer a {
    text-decoration: none;
    padding-top: 15px;
    display: inline-block;
}

.footer ul {
    list-style: none;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover {
    opacity: 0.9;
}

.container {
    width: 100%;
}



h1,
h2,
h3 {
    text-align: center;
}

h1 {
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
}

/*Header Section of Home, About and Contact Pages*/
header {
    background-color: beige;

}

.toggle,
[id^=drop] {
    display: none;
}

#dropdown {
    display: block;
    padding: 15px 15px;
    float: right;
    font-size: 20px;
    line-height: 10px;
    width: 38%;

}

#dropdown:after {
    content: "";
    display: table;
    clear: both;
}

#dropdown ul {
    float: right;
    padding: 40px;
    margin: 0;
    list-style: none;
    width: 80%;
}

#dropdown ul li {
    margin: -3px;
    float: left;
    padding-left: 1px;
    padding-right: 1px;
    background-color: beige;
    display: block;
    width: 30%;
    height: auto;
}

#dropdown ul li a {
    display: block;
    padding: 0 5px 0 5px;
    color: red;
    font-size: 15px;
    line-height: 30px;
    text-decoration: none;

}

#dropdown ul li:hover>ul {
    display: inherit;
}

#main-toggle {
    cursor: pointer;
    float: right;
    padding: 20px 20px;
    position: relative;
    user-select: none;
}

.nav-icon {
    background-color: aliceblue;
    display: block;
    height: 2px;
    width: 15px;
    position: relative;
}

.nav-icon:before,
.nav-icon:after {
    background-color: aliceblue;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
}

.nav-icon:before {
    top: 7px;
    bottom: 1px;
}

.nav-icon:after {
    top: -7px;
    bottom: -1px;
}


li>a::after {
    content: "";
}

li>a:only-child:after {
    content: "";
}





.toggle+a,
.menu {
    display: none;
}

.toggle {
    display: block;
    background-color: red;
    padding: 0 40px;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    border: none;
}

.toggle:hover {
    background-color: grey;
}

[id^=drop]:checked+ul {
    display: block;
}



#dropdown ul li.toggle,
#dropdown ul {
    padding: 0 10px;
}

#dropdown ul li:hover>ul {
    display: none;
}

/**/
.logo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: red;
    font-size: 180%;
    list-style-type: none;
    text-decoration: none;
    padding-left: 20px;
    padding-top: 10px;
}

.logo li {
    text-align: center;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 20px;
    list-style-type: none;
}

.logo a {

    padding: 8px;
    padding-right: 5px;
    padding-left: 50px;
    font-size: 15px;
}

/**/
#pages {
    font-size: 110%;
    letter-spacing: 2px;
}

#pages li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    padding-bottom: 10px;
}

#pages a {
    text-decoration: none;
}

.active {
    border-bottom: 2px solid red;
}



/*Social Media Icons*/
#media {
    font-size: 80%;
    letter-spacing: 1px;
    padding-left: 40%;

}

#media li {
    list-style-type: none;
    display: inline-block;
    width: 1px;
    margin-left: 1px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#media a {
    text-decoration: none;
}

/* Home Page Main Body*/

#first {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 40px;
}

#first img {
    border: 5px solid black;
    max-width: 30%;
    width: auto\9;
    height: auto;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-left: 30px;
}

.right h2 {
    text-align: right;
}

.right img {
    width: 18%;
    height: auto;
}

.right aside {
    padding-left: 185px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 0px;
    text-align: justify;
}

.right aside h2 {
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    font-size: 35px;
    padding-top: 10px;
}

.right aside p {
    padding-top: 20px;
}

.left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-right: 30px;
}

.left h2 {
    text-align: left;
}

.left img {
    width: 18%;
    height: auto;
}

.left aside {
    padding-right: 185px;
    padding-left: 20px;
    padding-top: 25px;
    text-align: justify;
}

.left aside h2 {
    padding-top: 10px;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    font-size: 35px;
}

.left aside p {
    padding-top: 20px;
}

.mission {
    padding-left: 150px;
    padding-right: 180px;
    padding-bottom: 20px;
    padding-top: 50px;
}

.mission .left {
    padding-right: 30px;
}

.mission img {
    border-radius: 50%;
}

#space {
    padding-top: 30px;
}

#space h1 {
    font-size: 45px;
    padding-top: 15px;
    padding-bottom: 40px;
}


#space #first img {
    width: 28%;
    height: auto 0;
}

#space h2 {
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    font-size: 40px;
    padding-top: 5px;
    padding-bottom: 50px;
}

#space h3 {
    padding-top: 25px;
    padding-bottom: 15px;
}

/*About Page Main Body*/
#info-body {
    padding-top: 30px;
    font-size: 30px;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 70px;
    padding-bottom: 30px;
    text-align: justify;
}

.info h4 {
    font-size: 30px;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
}

.info img {
    width: 200px;
    height: 200px;
    border: 5px solid black;
}

.info-1 h4 {
    padding-left: 15px;
}

.info-1 p {
    width: 420px;
    padding-left: 15px;
    padding-right: 15px;
}

/*Contact Page Main Body*/

#top {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 5px;
}

#top h1 {
    padding-top: 50px;
    font-size: 50px;
}

#top img {
    border-radius: 50%;
    width: 20%;
    height: auto;
}

.form {
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    padding-bottom: 50px;
    text-align: left;
    font-size: 20px;
    width: 100%;
    border: 600px;
}

.form #message label {
    width: 140px;
}

.form-body {
    padding-left: 25%;
    padding-right: 25%;
}

.form-header h1 {
    font-size: 40px;
}

.form #name fname {
    padding-right: 300px;
    padding-left: 0px;
}

.form #name #surname #email #message {
    width: 300px;
    height: 30px;
    padding-left: 60px;

}

.form textarea {
    width: 100%;
    height: 300px;
    border: 2px solid black;
}

.form #name #email #surname #text {
    font-size: medium;
}

.box {
    display: flex;
    justify-items: center;
    width: 100%;
    height: 40px;
    border: 2px solid black;
    padding-left: 50px;
    padding-right: 50px;
}

.form-body .form #button {
    display: inline-block;
    text-align: center;
    vertical-align: center;
    width: 100%;
    height: 12%;
    border: 2px solid black;
    background-color: red;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    color: white;
    font-weight: 400;
    font-size: 40px;
}

#img {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    border-color: black;
    border-spacing: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/*Response, Location & Terms of Use Pages*/

#main-body {
    text-align: center;
    padding-top: 150px;
    color: red;
    font-size: 30px;
    text-decoration: none;
}

#main-term {
    padding-left: 20%;
    padding-right: 20%;
}

#main-term h2 {
    color: black;
}

#query {
    text-align: center;
    padding-top: 150px;
    color: red;
    font-size: 30px;
    text-decoration: none;
}

#map {
    text-align: center;
}

#map h4 {
    padding-top: 50px;
}

#map p {
    padding-bottom: 50px;
}




/*Media Queries*/

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width:1200px) {

    #dropdown {
        width: 40%;
    }

    #dropdown ul {
        width: 80%;
    }

    #dropdown ul li {
        width: 35%;
    }

    #dropdown ul li a {
        padding-right: 10%;
        padding-left: 10px;
    }



    /* Home pages body*/


    .right {
        padding-left: 10px;
    }

    .right h2 {
        text-align: right;
    }

    .right img {
        width: 200px;
        height: 200px;
    }

    .right aside {
        padding-left: 5px;
        padding-right: 20px;
        padding-top: 25px;
        padding-bottom: 0px;
    }

    .right aside h2 {
        font-family: 'Brush Script MT', 'Brush Script Std', cursive;
        font-size: 35px;
        padding-top: 10px;
    }

    .right aside p {
        padding-top: 20px;
    }

    .left h2 {
        text-align: left;
    }

    .left img {
        width: 200px;
        height: 200px;
    }

    .left aside {
        padding-right: 5px;
        padding-left: 20px;
        padding-top: 25px;
    }

    .left aside h2 {
        padding-top: 10px;
        font-family: 'Brush Script MT', 'Brush Script Std', cursive;
        font-size: 35px;
    }

    .left aside p {
        padding-top: 20px;
    }

    #first img {
        border: 5px solid black;
    }

    .mission {
        padding-left: 50px;
        padding-right: 80px;

    }

    .mission #left {
        padding-right: 30px;
    }

    .mission img {
        border-radius: 50%;
    }

    #space #first img {
        width: 380px;
        height: 400px;
    }

    .logo {
        font-size: 150%;
        padding-bottom: 10px;

    }

    .logo li {
        text-align: left;
        padding-top: 5px;
        padding-left: 40px;
    }

    #pages {
        font-size: 90%;
        position: static;

    }

    #pages li {
        margin-right: 40px;

    }

    #media {
        font-size: 40%;
        letter-spacing: -3px;
        padding-left: 22%;

    }

    #media li {
        width: 2px;
        margin-left: 1px;
        padding-right: 3px;
        padding-left: 60px;
        padding-bottom: 10px;

    }


    /*About Page Main Body*/

    .info img {
        width: 150px;
        height: 150px;
    }

    .info-1 p {
        width: 250px;
    }

    /*Contact Page*/
    #top {
        padding-left: 50px;
        padding-right: 80px;
        padding-top: 30px;
        padding-bottom: 25px;
    }

    #top h1 {
        padding-top: 50px;
        font-size: 30px;
    }

    #top img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
    }

    .form {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 30px;
    }

    .form-body {
        padding-left: 20%;
        padding-right: 20%;
    }

    .form-header h1 {
        font-size: 20px;
    }

    .form name email {
        padding-right: 100px;
    }

    .form name surname email {
        width: 200px;
        height: 30px;

    }

    .form textarea {
        width: 100%;
        height: 250px;

    }

    #name #email #surname #message {
        font-size: medium;
    }

    .box {
        display: flex;
        justify-items: center;
        width: 100%;
        height: 40px;
        border: 2px solid black;
        padding-left: 10px;
        padding-right: 120px;
    }

    .form-body .form #button {
        display: inline-block;
        text-align: center;
        vertical-align: center;
        width: 100%;
        height: 50px;
        font-weight: 400;
        font-size: 30px;
    }

    #img {
        display: flex;
        align-content: space-around;
        justify-content: space-around;
        border-color: black;
        border-spacing: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    /*Response & Unavailable Pages */

    #main-body {
        padding-top: 100px;
        font-size: 13px;
        padding-left: 50px;
        padding-right: 50px;
    }

    #query {
        padding-top: 100px;
        font-size: 13px;
        padding-left: 50px;
        padding-right: 50px;
    }

}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width:950px) {


    main {
        padding-bottom: 20px;
    }

    /*Header*/
    header {
        padding-bottom: 40px;
    }

    #dropdown ul {
        margin: 0;
        float: none;
    }

    #dropdown {
        width: 50%;
    }

    #dropdown ul {
        width: 90%;
    }

    #dropdown ul li {
        width: 45%;
    }

    #dropdown ul li a {
        padding-right: 10%;
        padding-left: 10px;
    }

    .toggle+a,
    .menu {
        display: none;
    }

    .toggle {
        display: block;
        background-color: rgb(112, 60, 60);
        padding: 0 60px;
        color: green;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
    }

    .toggle:hover {
        background-color: red;
    }

    [id^=drop]:checked+ul {
        display: block;
    }

    #dropdown ul li {
        display: block;
        width: 32%;
    }

    #dropdown ul li.toggle,
    #dropdown ul {
        padding: 0 40px;
    }

    #dropdown ul ul {
        float: none;
        position: static;
        color: white;
    }

    #dropdown ul ul li:hover>ul,
    #dropdown ul li:hover>ul {
        display: none;
    }

    #dropdown ul ul li {
        display: block;
        width: 100%;
    }

    #dropdown ul ul ul {
        position: static;
    }

    .logo li {
        text-align: left;
        padding-top: 5px;
        padding-left: 40px;
    }

    #pages {
        font-size: 90%;
        float: right;
    }

    #pages li {
        margin-right: 40px;

    }

    #media {
        font-size: 40%;
        letter-spacing: 1px;
        padding-left: 10px;

    }

    #media li {
        width: 2px;
        margin-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
    }

    .body {
        max-width: 950px;
        max-height: 950px;
    }

    #space #first img {
        display: flex;
        flex-direction: row-reverse;
        align-content: space-around;
        justify-content: space-around;
        width: 300px;
        height: 300px;
    }

    #space h2 {
        font-size: 28px;
    }

    #space h1 {
        font-size: 30px;
        padding-bottom: 10px;
        padding-top: 2px;
    }

    #space h2 {
        font-size: 25px;
        padding-bottom: 10px;
    }

    #space h3 {
        font-size: 13px;
        padding-bottom: 10px;
    }

    .mission {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 180px;
        padding-top: 1px;
    }

    .mission .left p {
        text-align: left;
        font-size: 13px;
        padding-right: 8px;
        padding-bottom: 20px;
        padding-top: 1px;
    }

    .mission .left h4 {
        font-size: 15px;
        padding-bottom: 10px;
        padding-top: 1px;
    }

    .mission .left {
        float: left;
        padding-right: 5px;
        padding-top: 20px;
    }

    .mission .left img {
        width: 50px;
        height: 50px;
    }

    .mission .right h4 {
        font-size: 15px;
        text-align: right;
    }

    .mission .right p {
        font-size: 13px;
        text-align: right;
        padding-right: 5px;
        padding-bottom: 1px;
        padding-top: 1px;
    }

    .mission .right {
        float: right;
    }

    .mission .right img {
        width: 50px;
        height: 50px;
    }

    .mission .right h4 {
        text-align: left;
    }

    /*About Page Main Body*/

    .info {
        padding-left: 40px;
        padding-right: 40px;
    }

    .info img {
        width: 160px;
        height: 160px;
    }

    .info-1 p {
        width: 100%;
        font-size: 11px;
    }

    /*Contact Page*/
    #top {
        padding-left: 170px;
        padding-right: 170px;
        padding-top: 30px;
        padding-bottom: 25px;
    }

    #top h1 {
        padding-top: 15px;
        font-size: 30px;
    }

    #top img {
        border-radius: 50%;
        width: 70px;
        height: 70px;
    }

    .form name email {
        padding-right: 100px;
    }

    .form name surname email {
        width: 200px;
        height: 30px;
    }

    .form textarea {
        width: 100%;
        height: 250px;

    }

    #name #email #surname #message {
        font-size: medium;
    }

    .box {
        display: flex;
        justify-items: center;
        width: 100%;
        height: 40px;
        border: 2px solid black;
        padding-left: 10px;
        padding-right: 120px;
    }

    .form-body .form #button {
        display: inline-block;
        text-align: center;
        vertical-align: center;
        width: 100%;
        height: 30px;
        font-weight: 400;
        font-size: 20px;
    }

    #img {
        display: flex;
        align-content: space-around;
        justify-content: space-around;
        border-color: black;
        border-spacing: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    /*Footer*/

    .footer {
        padding-top: 10px;
    }
}

/* For small screens sizes from 800px wide and down */
@media screen and (max-width:800px) {
    body {
        height: 250vh;
    }

    main {
        padding-bottom: 10px;
    }

    /*Header*/
    header {
        padding-bottom: 20px;

    }

    [id^=drop]:checked+ul {
        display: block;
    }

    #dropdown {
        width: 60%;
    }

    #dropdown ul {
        margin: 0;
        float: none;
        width: 90%;
    }

    #dropdown ul li {
        display: block;
        width: 60%;
        height: 35px;
    }

    #dropdown ul li a {
        padding-right: 10%;
        padding-left: 10px;
    }

    #dropdown ul li.toggle,
    #dropdown ul {
        padding: 0 10px;
    }

    #dropdown ul li:hover>ul {
        display: none;
    }

    .toggle+a,
    .menu {
        display: none;
    }

    .toggle {
        display: block;
        background-color: red;
        padding: 0 40px;
        color: green;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
    }

    .logo {
        padding: 10px;
    }

    .logo li {
        padding-left: 2px;
        margin-right: 2px;
    }

    .logo a {
        padding-right: 2px;
    }

    #media {
        width: 20%;
    }

    #media li {
        width: 30%;
        padding: 2px;
    }

    #media li a {
        width: 20%;
        padding: 2px;
    }

    .active {
        border-bottom: 2px solid red;
    }

    /*About Page Main Body*/

    #info-body {
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .info {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
    }

    .info h4 {
        font-size: 18px;
    }

    .info img {
        width: 100%;
        height: 200px;
    }

    .info-1 h4 {
        padding-top: 10px;
    }

    .info-1 p {
        padding-bottom: 10px;

    }

    /*Contact Page*/
    #top {
        padding-left: 50px;
        padding-right: 80px;
        padding-top: 30px;
        padding-bottom: 25px;
    }


    #top img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
    }

    .form {
        padding-left: 1px;
        padding-right: 1px;
        padding-bottom: 50px;
        font-size: 15px;
    }

    .form-body {
        padding-left: 10%;
        padding-right: 10%;
    }

    .form name email {
        padding-right: 10px;
    }

    .form name surname email {
        width: 50px;
        height: 30px;

    }

    .form textarea {
        width: 100%;
        height: 250px;

    }

    #name #email #surname #message {
        font-size: medium;
    }

    .box {
        display: flex;
        justify-items: center;
        width: 100%;
        height: 40px;
        border: 2px solid black;
        padding-left: 10px;
        padding-right: 20px;
    }

    .form-body .form #button {
        display: inline-block;
        text-align: center;
        vertical-align: center;
        width: 100%;
        height: 50px;
        font-weight: 400;
        font-size: 20px;
    }

    #img {
        display: flex;
        align-content: space-around;
        justify-content: space-around;
        border-color: black;
        border-spacing: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    /*Response & Location Pages */

    #main-body {
        padding-top: 100px;
        font-size: 13px;
        padding-left: 50px;
        padding-right: 50px;
    }

    #query {
        padding-top: 100px;
        font-size: 13px;
        padding-left: 50px;
        padding-right: 50px;

    }

    #map {
        padding-left: 15px;
    }

    .wrapper {
        max-width: 290px;
        border: 1px solid black;

    }

    .google {
        width: 100%;
    }

    .footer a {
        font-size: 10px;
    }


}