* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: 0;
}



main {
    background-color: rgb(245, 255, 240);
    min-height: 600px;
}

footer {
    background-color: rgb(245, 240, 220);
    min-height: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 21px;
}


h1,
h2,
h3 {
    text-align: center;
}

h1 {
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
}

/*Header Section of Home, About and Contact Pages*/
header {
    background-color: beige;
    min-height: 80px;
}

#logo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: red;
    font-size: 180%;
    list-style-type: none;
    text-decoration: none;

}

#logo li {
    text-align: left;
    padding-top: 5px;
    padding-left: 40px;
}

#pages {
    font-size: 110%;
    letter-spacing: 2px;
}

#pages li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    padding-bottom: 10px;
}

#pages a {
    text-decoration: none;
}

.active {
    border-bottom: 2px solid red;
}

#media {
    font-size: 80%;
    letter-spacing: 12px;
    padding-left: 40%;
}

#media li {
    list-style-type: none;
    display: inline-block;
    width: 10px;
    margin-left: 10px;
    padding-right: 30px;
    padding-bottom: 10px;

}

#media a {
    text-decoration: none;
}

/* Home pages body*/

#right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-left: 30px;
}

#right h2 {
    text-align: right;
}

#right img {
    width: 200px;
    height: 200px;
}

#right aside {
    padding-left: 185px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 0px;
    text-align: justify;
}

#right aside h2 {
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    font-size: 35px;
    padding-top: 10px;
}

#right aside p {
    padding-top: 20px;
}

#right2 {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-left: 30px;
}

#right2 h2 {
    text-align: right;
}

#right2 img {
    width: 200px;
    height: 200px;
}

#right2 aside {
    padding-left: 185px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 0px;
    text-align: justify;
}

#right2 aside h2 {
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    font-size: 35px;
    padding-top: 10px;
}

#right2 aside p {
    padding-top: 20px;
}

#left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-right: 30px;
}

#left h2 {
    text-align: left;
}

#left img {
    width: 200px;
    height: 200px;
}

#left aside {
    padding-right: 185px;
    padding-left: 20px;
    padding-top: 25px;
    text-align: justify;
}

#left aside h2 {
    padding-top: 10px;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    font-size: 35px;
}

#left aside p {
    padding-top: 20px;
}

#left2 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-right: 30px;
}

#left2 h2 {
    text-align: left;
}

#left2 img {
    width: 200px;
    height: 200px;
}

#left2 aside {
    padding-right: 185px;
    padding-left: 20px;
    padding-top: 25px;
    text-align: justify;
}

#left2 aside h2 {
    padding-top: 10px;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    font-size: 35px;
}

#left2 aside p {
    padding-top: 20px;
}

#first {
    padding-left: 150px;
    padding-bottom: 40px;
}

#first img {
    border: 5px solid black;
}

.mission {
    padding-left: 150px;
    padding-right: 180px;
    padding-bottom: 20px;
    padding-top: 50px;
}

.mission #left {
    padding-right: 30px;
}

.mission img {
    border-radius: 50%;
}

#space {
    padding-top: 30px;
}

#space h1 {
    font-size: 45px;
    padding-top: 15px;
    padding-bottom: 40px;
}


#space #first img {
    width: 380px;
    height: 400px;
}

#space h2 {
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    font-size: 40px;
    padding-top: 5px;
    padding-bottom: 50px;
}

#space h3 {
    padding-top: 25px;
    padding-bottom: 15px;
}

/*About Page Main Body*/

#info-body {
    padding-top: 30px;
    font-size: 30px;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
}

#info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 70px;
    text-align: justify;
}

#info h4 {
    font-size: 30px;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
}

#info img {
    width: 200px;
    height: 200px;
    border: 5px solid black;
}

#info2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 70px;
    text-align: justify;
}

#info2 h4 {
    font-size: 30px;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
}

#info2 img {
    width: 200px;
    height: 200px;
    border: 5px solid black;
}

#info3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 70px;
    text-align: justify;
}

#info3 h4 {
    font-size: 30px;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
}

#info3 img {
    width: 200px;
    height: 200px;
    border: 5px solid black;
}


#info4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 70px;
    text-align: justify;
}

#info4 h4 {
    font-size: 30px;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
}

#info4 img {
    width: 200px;
    height: 200px;
    border: 5px solid black;
}

#info-1 h4 {
    padding-left: 15px;
}

#info-1 p {
    width: 420px;
    padding-left: 15px;
    padding-right: 15px;
}

#info-2 h4 {
    padding-left: 15px;
}

#info-2 p {
    width: 420px;
    padding-left: 15px;
    padding-right: 15px;
}

#info-3 h4 {
    padding-left: 15px;
}

#info-3 p {
    width: 420px;
    padding-left: 15px;
    padding-right: 15px;
}

#info-4 h4 {
    padding-left: 15px;
}

#info-4 p {
    width: 420px;
    padding-left: 15px;
    padding-right: 15px;
}

#info-5 h4 {
    padding-left: 15px;
}

#info-5 p {
    width: 420px;
    padding-left: 15px;
    padding-right: 15px;
}

#info-6 h4 {
    padding-left: 15px;
}

#info-6 p {
    width: 420px;
    padding-left: 15px;
    padding-right: 15px;
}

#info-7 h4 {
    padding-left: 15px;
}

#info-7 p {
    width: 420px;
    padding-left: 15px;
    padding-right: 15px;
}

#info-8 h4 {
    padding-left: 15px;
}

#info-8 p {
    width: 420px;
    padding-left: 15px;
    padding-right: 15px;
}

#info-9 h4 {
    padding-left: 15px;
}

#info-9 p {
    width: 420px;
    padding-left: 15px;
    padding-right: 15px;
}

#info-10 h4 {
    padding-left: 15px;
}

#info-10 p {
    width: 420px;
    padding-left: 15px;
    padding-right: 15px;
}

#info5 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 55px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 72px;
    text-align: justify;
}

#info5 h4 {
    font-size: 30px;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
}

#info5 img {
    width: 200px;
    height: 200px;
    border: 5px solid black;
}

/*Contact Page Main Body*/

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 5px;
}

#top h1 {
    padding-top: 50px;
    font-size: 50px;
}

#top img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#form {
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    text-size-adjust: 60px;
    padding-right: 150px;
    padding-bottom: 50px;
    text-align: justify;
    font-size: 25px;
    width: 400px;
    border: 600px;
}

#form-body {
    display: flex;
    justify-content: center;
}

#form-header h1 {
    font-size: 40px;
}

#form name email {
    padding-right: 200px;
}

#form name surname email {
    width: 200px;
    height: 30px;
    border: 105px solid red;
}

#form textarea {
    width: 580px;
    height: 250px;
    border: 2px solid black;
}

#name #email #surname #message {
    font-size: medium;
}

.box {
    display: flex;
    justify-items: center;
    width: 450px;
    height: 40px;
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 120px;
}

#button {
    display: inline-block;
    text-align: center;
    vertical-align: center;
    width: 585px;
    height: 50px;
    border: 2px solid black;
    background-color: red;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    color: white;
    font-weight: 400;
    font-size: 40px;
}

#img {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    border-color: black;
    border-spacing: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/*Response & Unavailable Pages*/

#main-body {
    text-align: center;
    padding-top: 1px;
    color: red;
    font-size: 30px;
    text-decoration: none;

}

#query {
    text-align: center;
    padding-top: 1px;
    color: red;
    font-size: 30px;
    text-decoration: none;

}

#nothing a {
    text-decoration: none;
    padding-top: 600px;
}




/*Media Queries*/

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width:1200px) {}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width:950px) {
    .body {
        max-width: 950px;
        max-height: 950px;
    }

    #media {
        float: left;
    }

    #pages {

        float: right;
    }

    #space #first img {
        display: flex;
        flex-direction: row-reverse;
        align-content: space-around;
        justify-content: space-around;
        width: 300px;
        height: 300px;
    }

    footer {
        text-align: center;

    }

    /* For small screens sizes from 800px wide and down */
    @media screen and (max-width:950px) {
        .body {
            max-width: 800px;
            max-height: 800px;
        }

        #space #first {
            padding-left: 10px;
            padding-right: 40px;
        }


        #space #first img {
            display: flex;
            flex-direction: column-reverse;
            align-content: space-around;
            justify-content: space-around;
            width: 100px;
            height: 100px;

        }

        #space h3,
        h2 {
            font-size: 15px;
        }

        .mission {
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-top: 50px;
        }

        .mission #left h4,
        p {
            text-align: left;
            width: 300px;
        }

        .mission #left h4 {
            font-size: 15px;
        }

        .mission #left p {
            font-size: 13px;
        }



        .mission #left {
            float: left;
            padding-right: 10px;

        }

        .mission #left img {
            width: 50px;
            height: 50px;
        }

        .mission #right h4,
        p {
            text-align: left;
            width: 300px;
        }

        .mission #right h4 {
            font-size: 15px;
        }

        .mission #right p {
            font-size: 13px;
        }

        .mission #right {
            float: right;
        }

        .mission #right img {
            width: 50px;
            height: 50px;
        }

        .mission #right h4,
        p {
            text-align: left;
        }

        footer {
            text-align: center;
        }



    }